{# src/LPSIO/PlateformeBundle/Ressources/views/base.html.twig #}
{% extends "LPSIOPlateformeBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Visualiser les offres{% endblock %}

{% block navbar %}

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('lpsio_plateforme_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('lpsio_plateforme_offres') }}">Offres</a></li>
            <li><a href="{{ path('lpsio_plateforme_about') }}">A propos</a></li>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('lpsio_plateforme_inscription') }}">S'inscrire</a></li>
            {% endif %}
            <li><a href="{{ path('lpsio_plateforme_contact') }}">Nous contacter</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Espace membre<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('lpsio_plateforme_mes_informations') }}">Mes informations</a></li>
                        <li><a href="{{ path('lpsio_plateforme_mes_alertes') }}">Mes alertes</a></li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('lpsio_plateforme_administration_creer_offre') }}">Créer une offre</a></li>
                            <li class="active"><a href="{{ path('lpsio_plateforme_administration_visualiser_offres') }}">Visualiser les offres</a></li>
                            <li><a href="{{ path('lpsio_plateforme_administration_visualiser_utilisateurs') }}">Visualiser les utilisateurs</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('lpsio_plateforme_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('lpsio_plateforme_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('lpsio_plateforme_homepage') }}">Accueil</a></li>
        <li class="active">Visualiser les offres </li>
    </ol>
{% endblock %}

{% block mainbody %}
    {% if app.session.flashBag('notice') %}
        {% for msg in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ msg }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <h1>Visualiser les offres</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Durée</th>
            <th>Type</th>
            <th>Salaire</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in offres  %}
            <tr>
                <td>{{ offre.titre }}</td>
                <td>{{ offre.duree }} jours</td>
                <td>
                    {# 1 : Contrat d'apprentissage #}
                    {# 2 : Contrat de professionnalisation #}
                    {# 3 : Stage #}
                    {# Autre : inconnu #}
                    {% if offre.type == "1" %}
                        <strong>Contrat d'apprentissage</strong>
                    {% elseif offre.type == "2" %}
                        <strong>Contrat de professionnalisation</strong>
                    {% elseif offre.type == "3" %}
                        <strong>Stage</strong>
                    {% else %}
                        <strong>Inconnu</strong>
                    {% endif %}
                </td>
                <td>{{ offre.salaire }} euros</td>
                <td>{{ offre.dateDebut|date("d-m-Y" ) }}</td>
                <td>{{ offre.DateFin|date("d-m-Y") }}</td>
                <td>
                    <a href="{{ path('lpsio_plateforme_administration_modifier_offre', {'idOffre': offre.id}) }}" title="Modifier cette offre">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('lpsio_plateforme_administration_supprimer_offre', {'idOffre': offre.id}) }}" title="Supprimer cette offre">
                        <button type="button" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}