<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset("bundles/lpsioplateforme/bootstrap/css/bootstrap.css") }}" type="text/css" >
    <link rel="stylesheet" href="{{ asset("bundles/lpsioplateforme/bootstrap/css/lpsio-theme.css") }}" type="text/css" >
    <link ref="icon" type="image/png" href="{{ asset("bundles/lpsioplateforme/images/favicon.png") }}">
    <title>{% block title %}LPSIO{% endblock %}</title>
    <script src="{{ asset("bundles/lpsioplateforme/tinymce/tinymce.min.js") }}"></script>
    <script src="{{ asset("bundles/lpsioplateforme/tinymce/jquery.tinymce.min.js") }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            height: 250,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css',
            language: 'fr_FR'
        });
    </script>
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Permet de rendre le menu responsive -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Permet de rendre le menu responsive -->
                <a class="navbar-brand" href="{{ path('lpsio_plateforme_homepage') }}">
                    <img height="24" width="24" alt="Brand" src="{{ asset("bundles/lpsioplateforme/images/logo.png") }}">
                </a>
                <a class="navbar-brand" href="{{ path('lpsio_plateforme_homepage') }}">LPSIO</a>
            </div>
            {% block navbar %}{% endblock %}
        </div>
    </nav>
{% endblock %}
<div class="container">
    {% block breadcrumb %}{% endblock %}
    {% block mainbody %}{% endblock %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">LPSIO 1.0 - 2017</p>
        </div>
    </footer>
</div>
<script src="{{ asset("bundles/lpsioplateforme/jquery/jquery-3.2.0.min.js") }}"></script>
<script src="{{ asset("bundles/lpsioplateforme/bootstrap/js/bootstrap.js") }}"></script>
</body>
</html>