{# src/LPSIO/PlateformeBundle/Ressources/views/base.html.twig #}
{% extends "LPSIOPlateformeBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Les offres{% endblock %}

{% block navbar %}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('lpsio_plateforme_homepage') }}">Accueil</a></li>
            <li class="active"><a href="{{ path('lpsio_plateforme_offres') }}">Offres</a></li>
            <li><a href="{{ path('lpsio_plateforme_about') }}">A propos</a></li>
            <li><a href="{{ path('lpsio_plateforme_inscription') }}">S'inscrire</a></li>
            <li><a href="{{ path('lpsio_plateforme_contact') }}">Nous contacter</a></li>
        </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('lpsio_plateforme_homepage') }}">Accueil</a></li>
        <li class="active">Offres</li>
    </ol>
{% endblock %}

{% block mainbody %}
    <h1>Offres</h1>
    {% if offres is not empty  %}
        <div class="row">
            {% for offre in offres %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img style="width:100%; height: 150px;" src="{{ asset("bundles/lpsioplateforme/images/offre.jpg") }}" alt="Offre 1">
                        <div class="caption">
                            <h3>{{ offre.titre }}</h3>
                            <p>{{ offre.description }}</p>
                            <p>Durée (en jour) {{ offre.duree }} - Salaire : {{ offre.salaire }}</p>
                            <p>Date de début de contrat :  {{ offre.dateDebut|date("m/d/y") }}</p>
                            <p>Date de création : {{ offre.dateCreation|date("m/d/y") }}</p>
                            <p><a href="{{ path('lpsio_plateforme_offre', {'idOffre' : offre.id }) }}" class="btn btn-primary" role="button">Voir l'offre</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <nav aria-label="...">
                <div class="text-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    {% else %}
        <p>Aucune offre pour le moment.</p>
    {% endif %}
{% endblock %}